body {
    font-family: Verdana, sans-serif;
  }
html {
    background-color: lightgreen;
}
.buttons {
		background: whitesmoke;
		padding: 10px;
		float: none;
		border-radius: 15px;
}
.buttons:hover {
    background: lightblue;
}
.images {
    height: 15%;
}